# Entornos virtuales
venv/
env/
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Configuración local
.DS_Store
.vscode/
.idea/
*.env
.env

# Archivos de compilación
build/
dist/
*.egg-info/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos del sistema
Thumbs.db
